@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 94, 103, 120;
  --background-rgb: 229, 239, 250;
  --body-font-weight: 500;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-weight: var(--body-font-weight);
}